<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323852889773-4k0tbv7dsktgplfa1vul9cra8sni18nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323852889773-4k0tbv7dsktgplfa1vul9cra8sni18nr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>323852889773-2lm7kdj0poav060vnpaoagm7e5inelnb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLUeLaXAmrIWujDifMUyE2390UTA7Dcbo</string>
	<key>GCM_SENDER_ID</key>
	<string>323852889773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.projectai</string>
	<key>PROJECT_ID</key>
	<string>project-t9rgzl</string>
	<key>STORAGE_BUCKET</key>
	<string>project-t9rgzl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323852889773:ios:ab06ef0e199e2fff316024</string>
</dict>
</plist>